body {
    font-family: 'Nunito', sans-serif;
}
#objectList li {
    cursor: pointer;
    padding-left: 5px;

}
li::marker {
    font-size: 12px;
}
li.object.parent::marker {
    content: "▼";
}
li.object::marker {
    content: "▬";
}
li.object.collapsed::marker {
    content: "►";
}
